
<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<meta name="keywords"
	content="乐纯，乐纯酸奶，元气酸奶，希腊酸奶，滤乳清，三三三倍，奶牛denny，好吃的酸奶，营养酸奶，无添加酸奶，乳酪，老酸奶，酪酸奶，酸奶几点吃，脱脂酸奶，低脂酸奶，健身酸奶，纯吃货，LEPUR……" />
<meta name="description"
	content="乐纯酸奶，80万健康达人的共同选择。每一盒乐纯三三三倍酸奶都使用德国顶尖的滤乳清酸奶制作工艺，用三倍的鲜牛奶和三倍的乳酸菌发酵，再用专利工艺脱去整整2/3重量的水分，只留下三倍纯净营养。全国32个城市全程冷链配送，抢购请关注微信公众号：乐纯的伙伴们。" />
<title>乐纯酸奶 每一口都像在舔盖儿</title>
<link href="/scripts/custom/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/scripts/custom/css/reset.min.css" />
<link rel="stylesheet" href="/scripts/custom/css/swiper.min.css" />
<link href="/scripts/custom/css/nav_foot.css" rel="stylesheet" />
<link href="/scripts/custom/css/index.css?v=1" rel="stylesheet" />


<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
<style>
.swiper-container {
	width: 100%;
	height: 210px;
	margin: 20px auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	width: 60%;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
</style>
<!-- 设置rem-->
<script>
	remFn(10);
	window.onresize = function() {
		remFn(10);
	};
	function remFn(num) {
		document.documentElement.style.fontSize = document.documentElement.clientWidth
				/ num + 'px';
	}
</script>
</head>
<body>
	
	<!-- 顶部导航 -->
	<div class="navbar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"> <img
					src="#" alt="logo" />
				</a> <a class="index" href="index.html">主页</a>
			</div>
			<div class="navbar_ul">
				<ul class="nav navbar-nav">
					<li class="active fist"><a href="index.html" class="Analysis"
						data-analysis="index">主页</a>

						<p></p></li>
					<li><a href="about.html" class="Analysis"
						data-analysis="about">关于乐纯</a>

						<p></p></li>
					<li><a href="buy.html" class="Analysis" data-analysis="buy">产品购买</a>

						<p></p></li>
					<li><a href="story.html" class="Analysis"
						data-analysis="story">乐纯故事</a>

						<p></p></li>
					<li><a href="reputation.html" class="Analysis"
						data-analysis="reputation">吃货口碑</a>

						<p></p></li>
					<li><a href="canteen.html" class="Analysis"
						data-analysis="canteen">乐纯厨房</a>

						<p></p></li>
				</ul>
			</div>
		</div>
	</div>
	<!--banner-->
	<div class="banner_box" style="margin-top: 70px;">
		<a href="about.html" class="Analysis" data-analysis="banner_about"><img
			src="images/index/index_banner1.jpg" alt="banner" /> <img
			src="images/index/index_banner2.jpg" alt="banner" /> <img
			src="images/index/index_banner3.jpg" alt="banner" /></a>
	</div>
	<!--移动端banner-->
	<div class="mo_banner_box">
		<a href="about.html" class="Analysis" data-analysis="banner_about">
			<img src="images/index/mo_banner.jpg" alt="banner" />
		</a>
	</div>
	<!--乐纯产品-->
	<div class="product_box container">
		<!-- 移动端显示-->
		<div class="title">
			<h3>乐纯的产品</h3>

			<div>
				<hr class="left" />
				<hr class="right" />
			</div>
			<p>Lepur Stores</p>
		</div>
		<div class="row">
			<div class="col-lg-4  col-md-6 col-sm-6 col-xs-4">
				<section class="img_box">
					<img src="images/index/pro_01.jpg" alt="蜂蜜" />
				</section>
			</div>
			<div class="col-lg-4   col-md-6 col-sm-6 col-xs-4">
				<section class="img_box">
					<img src="images/index/pro_02.jpg" alt="乐纯草莓蔓越莓三三三倍" />
				</section>
			</div>
			<div class="col-lg-4   col-md-6 col-sm-6 col-xs-4">
				<section class="img_box">
					<img src="images/index/pro_03.jpg" alt="榛子" />
				</section>
			</div>
			<div class="col-lg-4   col-md-6 col-sm-6 col-xs-4">
				<section class="img_box">
					<img src="images/index/pro_04.jpg" alt="乐纯沁爽柠檬三三三倍酸奶" />
				</section>
			</div>
			<div class="col-lg-4  col-md-6 col-sm-6 col-xs-4  pro_query">
				<img src="images/index/pro_query.jpg" alt="背景" />
				<section>
					<!-- 移动端隐藏-->
					<div class="mo_hide">
						<h3>乐纯产品</h3>

						<p style="margin-top: 8px">Lepur Products</p>
						<hr />
					</div>
					<a href="buy.html" class="Analysis" data-analysis="banner_about"><span>购买查询
							<em></em>
					</span></a> <img class="mo_hide" src="images/index/triangle.jpg" alt="" />
				</section>

			</div>
			<div class="col-lg-4  col-md-6 col-sm-6 col-xs-4">
				<section class="img_box">
					<img src="images/index/pro_05.jpg" alt="FIT酸奶" />
				</section>
			</div>
		</div>
	</div>
	<!--乐纯产品1-->
	<div class="product_box1 container">
		<div class="row">
			<div class="col-lg-6  col-md-6 col-sm-6 left">
				<img class="mo_hide" src="images/index/pro_06.jpg" alt="背景" /> <img
					class="mo_show" style="margin-left: -12px"
					src="images/index/mo_pro_07.jpg" alt="背景" />

				<div>

					<!--<h2><em class="xiang">像</em><span class="text">瓜果蔬菜一样新鲜干净</span></h2>-->
					<img class="mo_hide pc_xiang" style="width: 300px;"
						src="images/index/xiang.png?v=1" /> <img class="mo_show mo_xiang"
						src="images/index/mo_xiang.png?v=1" />
					<!--<hr class="mo_hide">-->
					<p>引进德国顶尖滤乳清设备，配料表做到天然干净。只有鲜牛奶，活性益生菌，真实花果，没了</p>
					<a href="about.html" class="btn Analysis" data-analysis="see_about">了解详情<em></em></a>
					<img class="triangle" src="images/index/triangle.jpg" />
				</div>

			</div>
			<div class="col-lg-6  col-md-6 col-sm-6 right">
				<img class="mo_hide" src="images/index/pro_07.jpg" alt="背景" /> <img
					class="mo_show" src="images/index/mo_pro_06.jpg" alt="背景" />

				<div>
					<!--<h2><em class="sanshier">32</em>个城市全程冷链配送</h2>-->
					<img class="mo_hide pc_saner" style="width: 300px;"
						src="images/index/saner.png?v=1" /> <img class="mo_show mo_saner"
						src="images/index/mo_saner.png?v=1" />
					<!--<hr class="mo_hide" style="width: 84px;">-->
					<p style="width: 190px;">携手顺丰、京东冷运，2-6摄氏度，全程冷链送达32个国内城市。</p>

					<a href="buy.html?#bbb" class="btn Analysis"
						data-analysis="buy_seed">了解详情<em></em></a> <img class="triangle"
						src="images/index/triangle.jpg" />
				</div>
			</div>
		</div>
	</div>
	<!--吃货-->
	<div class="eat_box container">
		<div class="row">
			<div class="col-lg-4  col-md-6 col-sm-6 fist">
				<img src="images/index/eat_01.jpg" alt="背景" />
				<section>
					<h3>
						80万健康吃货<br />口碑推荐
					</h3>
					<hr />
					<p>现在，乐纯已成为80万健康吃货们日常生活中的一部分。它是下午或晚上饿了时的完美食物。</p>
				</section>
			</div>
			<div class="col-lg-4  col-md-6 col-sm-6 cent mo_hide">
				<img src="images/index/eat_02.jpg" alt="背景" />
				<section>
					<p>虽然女儿收集了满满一箱乐纯酸奶盒盖，还是要把自己做的酥皮泡芙，猫爪椰蓉面包，配上小公主最爱的榛子香草酸奶传上来。这是她每天下午放学回来的下午茶之一，酸奶是标配。</p>
					<span>汪粒</span>
				</section>
			</div>
			<div class="col-lg-4  col-md-6 col-sm-6 last">
				<img src="images/index/eat_03.jpg" alt="背景" />
				<section>
					<p>好吃又健康的乐纯哦。</p>
					<span>Lily</span>
				</section>
			</div>

		</div>
		<a href="reputation.html" class="btn Analysis"
			data-analysis="reputation_all">所有评论<em></em></a> <img
			src="images/index/triangle.jpg" />
	</div>
	<!--乐纯的小伙伴们-->
	<div class="fruit_box ">
		<div class="container">
			<div class="title">
				<h3>乐纯的伙伴们</h3>

				<div>
					<hr class="left" />
					<hr class="right" />
				</div>
				<p>Lepur Stores</p>
			</div>
			<div class="row mo_hied">
				<div class="col-lg-4  col-md-6 col-sm-6 fist">
					<section class="img_box">
						<img src="images/index/store_01top.jpg" alt="北京三里屯店" />
					</section>
					<section class="door">
						<h1>北京三里屯店</h1>

						<div>
							<p>
								<img src="images/index/time.jpg" />9:00am - 21:00pm
							</p>

							<p>
								<img src="images/index/teill.jpg" />+86 1084243325
							</p>
						</div>

						<img class="dizhi1" src="images/index/sanlitun.jpg" alt="地图" />
					</section>

				</div>
				<div class="col-lg-4  col-md-6 col-sm-6 cent">
					<section class="img_box">
						<img src="images/index/store_02top.jpg" alt="北京苹果社区店" />
					</section>
					<section class="door">
						<h1>北京苹果社区店</h1>

						<div>
							<p>
								<img src="images/index/time.jpg" />9:00am - 21:00pm
							</p>

							<p>
								<img src="images/index/teill.jpg" />4006865889
							</p>
						</div>

						<img class="dizhi2" src="images/index/pingguoshequ.jpg" alt="地图" />
					</section>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6 last">
					<section class="img_box">
						<img src="images/index/store_03top.jpg" alt="成都太古里店" />
					</section>
					<section class="door">
						<h1>成都太古里店</h1>

						<div>
							<p>
								<img src="images/index/time.jpg" />9:00am - 21:00pm
							</p>

							<p>
								<img src="images/index/teill.jpg" />+86 1084243325
							</p>
						</div>

						<img class="dizhi3" src="images/index/chengdu.jpg" alt="地图" />
					</section>
				</div>
			</div>
		</div>
		<!-- 移动端-->
		<div class="swiper-container mo_show map_swiper">
			<div class="swiper-wrapper row">
				<div class="swiper-slide swiper-fist">
					<div class="cent">
						<section class="img_box">
							<img src="images/index/store_02top.jpg" alt="北京苹果社区店" />
						</section>
						<section class="door">
							<h1>北京苹果社区店</h1>

							<div>
								<p>
									<img src="images/index/time.jpg" />9:00am - 21:00pm
								</p>

								<p>
									<img src="images/index/teill.jpg" />4006865889
								</p>
							</div>

							<img class="dizhi2" src="images/index/pingguoshequ.jpg" alt="地图" />
						</section>
					</div>
				</div>
				<div class="swiper-slide swiper-cent">
					<div class="fist">
						<section class="img_box">
							<img src="images/index/store_01top.jpg" alt="北京三里屯店" />
						</section>
						<section class="door">
							<h1>北京三里屯店</h1>

							<div>
								<p>
									<img src="images/index/time.jpg" />9:00am - 21:00pm
								</p>

								<p>
									<img src="images/index/teill.jpg" />+86 1084243325
								</p>
							</div>

							<img class="dizhi1" src="images/index/sanlitun.jpg" alt="地图" />
						</section>
					</div>
				</div>

				<div class="swiper-slide swiper-fist">
					<div class="last">
						<section class="img_box">
							<img src="images/index/store_03top.jpg" alt="成都太古里店" />
						</section>
						<section class="door">
							<h1>成都太古里店</h1>

							<div>
								<p>
									<img src="images/index/time.jpg" />9:00am - 21:00pm
								</p>

								<p>
									<img src="images/index/teill.jpg" />+86 1084243325
								</p>
							</div>
							<img class="dizhi3" src="images/index/chengdu.jpg" alt="地图" />
						</section>
					</div>
				</div>

			</div>
		</div>
		<a href="buy.html?#aaa" class="Analysis" data-analysis="buy_all">所有门店<em></em></a>
		<img src="images/index/triangle.jpg" />
	</div>
	<!--乐纯故事-->
	<div class="story_box container">
		<div class="title">
			<h3>乐纯故事</h3>

			<div>
				<hr class="left" />
				<hr class="right" />
			</div>
			<p>Lepur Story</p>
		</div>
		<!--pc-->
		<section class="wondeful">
			<div class="container">
				<div class="scroll-outer">
					<em class="right"></em> <em class="left"></em>

					<div id="scroll" class="owl-carousel">
						<div class="item item_0 Analysis" data-analysis="item_0"></div>
						<div class="item item_1 Analysis" data-analysis="item_1"></div>
						<div class="item item_2 Analysis" data-analysis="item_2"></div>
						<div class="item item_3 Analysis" data-analysis="item_3"></div>
						<div class="item item_4 Analysis" data-analysis="item_4"></div>
						<div class="item item_5 Analysis" data-analysis="item_5"></div>
						<div class="item item_6 Analysis" data-analysis="item_6"></div>
						<div class="item item_7 Analysis" data-analysis="item_7"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- 移动端-->
		<!-- Swiper -->
		<div class="swiper-container story_swiper mo_show">
			<div class="swiper-wrapper slide_box">
				<!--<div class="swiper-slide">Slide 1</div>-->
				<!--<div class="swiper-slide">Slide 2</div>-->
				<!--<div class="swiper-slide">Slide 3</div>-->

			</div>
		</div>
		<a href="story.html" class="Analysis all-story"
			data-analysis="story_all">所有故事<em></em></a> <img
			src="images/index/triangle.jpg" />
	</div>
	<!--foot-->
	<div class="foot_box">
		<div class="container">
			<div class="contact">
				<h3>联系方式</h3>

				<div class="p_box">
					<p>123</p>

					<p>123</p>


				</div>

			</div>
			<div class="cooperation">
				<h3>合作</h3>

				<div class="p_box">
					<p>
						<a href="join.html" class="Analysis" data-analysis="join_1">商务合作</a>
					</p>

					<p>
						<a href="join.html" class="Analysis" data-analysis="join_2">加入我们</a>
					</p>
				</div>

			</div>
			<div class="help">
				<h3>帮助</h3>

				<div class="p_box">
					<p>
						<a href="buy.html?#bbb" class="Analysis"
							data-analysis="join_buyScroll">配送范围查询</a>
					</p>
				</div>
			</div>
			<div class="follow mo_hide">
				<h3>关注我们</h3>

				<div class="weixin">
					<em></em>

					<p>微信</p>
				</div>
				<div class="tianmao">
					<a href="" target="_blank"
						class="Analysis" data-analysis="tianmao"> <em></em>

						<p>天猫</p>
					</a>

				</div>

				<div class="weibo">
					<a href="#" target="_blank" class="Analysis" data-analysis="weibo">
						<em></em>

						<p>微博</p>
					</a>
				</div>
			</div>
			<div class="follow mo_show">
				<h3>关注我们</h3>
				<section class="p_box">
					<img class="Analysis weixin" data-analysis="weixin"
						src="images/index/mo_weixin.png" /> <a
						href="" target="_blank" class="Analysis"
						data-analysis="tianmao"> <img
						src="images/index/mo_tianmao.png" /></a> <a href="#" target="_blank"
						class="Analysis" data-analysis="weibo"> <img
						src="images/index/mo_weibo.png" />
					</a>
				</section>
			</div>
		</div>
	</div>
	<!--关注-->
	<div class="alert_bg"></div>
	<!--nav-bg-->
	<div class="alert_navbg"></div>
	<div class="alert_box">
		<img class="x" src="images/index/x.png" alt="关闭" /> <img class="er"
			src="images/index/er.jpg" alt="乐纯的伙伴们二维码" />

		<h3>乐纯的伙伴们</h3>

		<p>关注更多活动信息</p>
	</div>
	<div class="foot_bot">
		<div class="container">
			
		</div>
	</div>

	<div class="go" id="go"></div>
	<span class="progress"><img src="images/index/loading.gif"
		alt="loading" /></span>

</body>
<script src="/scripts/custom/js/jquery-1.9.1.min.js"></script>
<script src="/scripts/custom/js/jquery.md5.js"></script>
<script src="/scripts/custom/js/Global.js"></script>
<script src="/scripts/custom/js/swiper.min.js"></script>
<script src="/scripts/custom/js/index.js"></script>
<script src="/scripts/custom/js/nav.js"></script>
<script src="/scripts/custom/js/bootstrap.min.js"></script>
<script src="/scripts/custom/js/owl.carousel.min.js"></script>
<script src="/scripts/custom/js/Analysis.js"></script>
</html>