<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<!--banner-->
	<!--banner-->
	<div class="banner_box" style="margin-top: 70px;">
		<a href="about.html" class="Analysis" data-analysis="banner_about"><img
			src="images/index/index_banner1.jpg" alt="banner" /> </a>
	</div>
	<!--商品list-->

	<div class="modity container ">
	    <div class="swiper-container story_swiper mo_show">
	        <div class="swiper-wrapper slide_box">
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/list_1.jpg" alt="乐纯草莓蔓越莓三三三倍酸奶">
	                    </section>
	                    <h3>乐纯草莓蔓越莓三三三倍酸奶</h3>
	
	                    <p>「少女的人生是草莓味哒」</p>
	                </div>
	            </div>
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/list_2.jpg" alt="乐纯香草榛子三三三倍酸奶">
	                    </section>
	                    <h3>乐纯香草榛子三三三倍酸奶</h3>
	
	                    <p>「米其林三星的味觉感受」</p>
	                </div>
	            </div>
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/list_3.jpg" alt="乐纯D24榴莲三三三倍酸奶">
	                    </section>
	                    <h3>乐纯D24榴莲三三三倍酸奶</h3>
	
	                    <p>「真的用了超贵的苏丹王榴莲」</p>
	                </div>
	            </div>
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/list_4.jpg" alt="乐纯椰子玫瑰三三三倍酸奶">
	                    </section>
	                    <h3>乐纯椰子玫瑰三三三倍酸奶</h3>
	
	                    <p>「没有先例可循的网络爆款」</p>
	                </div>
	            </div>
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/list_5.jpg" alt="乐纯零脂肪三三三倍酸奶">
	                    </section>
	                    <h3>乐纯零脂肪三三三倍酸奶</h3>
	
	                    <p>「一盒与脂肪战斗的酸奶！」</p>
	                </div>
	            </div>
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/list_6.jpg" alt="乐纯原味三三三倍酸奶">
	                    </section>
	                    <h3>乐纯原味三三三倍酸奶</h3>
	
	                    <p>「配什么都好吃的原味酸奶」</p>
	                </div>
	            </div>
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/list_9.jpg" alt="乐纯沁爽柠檬三三三倍酸奶">
	                    </section>
	                    <h3>乐纯沁爽柠檬三三三倍酸奶</h3>
	
	                    <p>「夏日清新的美白神器」</p>
	                </div>
	            </div>
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/list_11.jpg" alt="乐纯抹茶三三三倍酸奶">
	
	                    </section>
	                    <h3>乐纯抹茶三三三倍酸奶</h3>
	
	                    <p>「每天都能吃的抹茶甜品」</p>
	                </div>
	
	            </div>
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/mengguo.png" alt="乐纯芒果菠萝三三三倍酸奶">
	
	                    </section>
	                    <h3>乐纯芒果菠萝三三三倍酸奶</h3>
	
	                    <p>「带你到夏威夷」</p>
	                </div>
	
	            </div>
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/langmu.jpg" alt="乐纯朗姆红提三三三倍酸奶">
	                    </section>
	                    <h3>乐纯朗姆红提三三三倍酸奶</h3>
	
	                    <p>「每一口都像在吻你」</p>
	                </div>
	            </div>
	            <div class="swiper-slide">
	
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/lingshibao.png" alt="乐纯小补给健康零食">
	
	                    </section>
	                    <h3>乐纯小补给健康零食</h3>
	
	                    <p>「超好吃、超百搭、吃不停、又吃不胖」</p>
	                </div>
	            </div>
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/limai.jpg" alt="藜麦燕麦三三三倍酸奶">
	                    </section>
	                    <h3>藜麦燕麦三三三倍酸奶</h3>
	
	                    <p>「让你吃好每一餐的全营养食物」</p>
	                </div>
	            </div>
	            <div class="swiper-slide">
	                <div class="col-lg-3 col-md-3 col-sm-6">
	                    <section class="img_box">
	                        <img src="images/buy/moli.jpg" alt="茉莉花茶三三三倍酸奶">
	                    </section>
	                    <h3>茉莉花茶三三三倍酸奶</h3>
	
	                    <p>「让你一口就远离城市喧嚣」</p>
	                </div>
	            </div>
	        </div>
	        <div class="swiper-pagination"></div>
	    </div>
	
	</div>

</body>
</html>