<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>购物车</title>

<script type="text/javascript" src="fruitSale/buy/js/trolley.js"></script>

</head>

<body>
	<div class="modity container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-sm-9"></div>
			<div class="col-md-2 col-lg-2 col-sm-3">
				<button class="btn" onclick="toBuy()">返回</button>
			</div>

		</div>
		<div class="row">
			<table class="table-bordered">
				<thead>
					<tr>
						<th>编号</th>
						<th>商品</th>
						<th>单价</th>
						<th>数量</th>
						<th>小计</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${productList}">
						<td width="10%" name="type" class="type" th:text="${product.type}">type</td>
						<td width="25%" class="name" th:text="${product.name}">name</td>
						<td width="10%" class="price" th:text="${product.price}">price</td>
						<td width="20%" class="num"><span
							onclick="sub(this)" style="cursor: pointer">-</span> <input
							type="text" size="4" th:value="${product.num}"
							onchange="changeTrolley(this)" style="text-align: right;"></input>
							<span onclick="add(this)" style="cursor: pointer">+</span></td>
						<td width="15%" class="totalPrice" th:text="${product.totalPrice}">totalPrice</td>
						<td width="10%" class="del"><a style="cursor: pointer" onclick="remove_from(this)">删除</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="col-md-2 col-lg-2 col-sm-3 mo_hide">
				<button class="btn" onclick="remove_all()">全部删除</button>
			</div>
			<div class="col-md-8 col-lg-8 col-sm-6 total">
				<span>合计：￥</span><span id="susum" th:text="${total}"></span>
			</div>
			<div class="col-md-2 col-lg-2 col-sm-3">
				<button class="btn">结算</button>
			</div>
		</div>
	</div>
</body>
</html>
