<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>购物车</title>

<script type="text/javascript" src="/fruitSale/buy/js/trolley.js"></script>

</head>

<body>
	<div class="modity container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-sm-9"></div>
			<div class="col-md-2 col-lg-2 col-sm-3">
				<button class="btn" onclick="toBuy()">返回</button>
			</div>

		</div>
		<div class="row">
			<span>购物车为空</span>
		</div>


	</div>
</body>
</html>
