<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<link href="/fruitSale/about/css/about.css" rel="stylesheet"/>
</head>
<body>
<!--banner -->
<div class="banner mo_hied" style="margin-top: 70px;">
    <img src="/fruitSale/about/images/about_banner.jpg" alt="banner"/>
</div>
<div class="banner mo_show" style="margin-top: 50px">
     <img src="/fruitSale/about/images/about_banner.jpg" alt="banner"/>
</div>
<!-- 关于我们 -->
<div class="about_us container">
    <div class="title">
        <h3>关于我们</h3>
        <p class="content">公司的核心理念是：让人们吃上绿色的健康的水果。水果有机无污染，吃绿色水果，吃的健康，吃的安心！</p>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <section class="img_box">
                <img class="mo_hied" src="/fruitSale/about/images/about1.jpg" alt="展示"/>
                <img class="mo_show" src="/fruitSale/about/images/about1.jpg" alt="展示"/>
            </section>

        </div>
        <div class="col-lg-6  col-md-6 col-sm-6 right">
            <div>
                <h4>发展故事</h4>
                <p>我公司董事长胡春林 早期创立 上饶翔林商贸有限公司 ， 在偶然的一次机会下，品尝到当地的马家柚，发现其甜美多汁，但是在市场上却鲜为人知，调查发现原来马家柚是当地的土生品种，还未在市场普及。了解到马家柚营养价值极高，富含VC，结合当地种植环境，并且本着带动农村的农民脱贫攻坚 以返租倒包的形式带动贫困户共同 创立了 春林马家柚种植基地，该公司顺势成立。</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 mo_show">
            <section class="img_box">
                <img style="margin-top: 0.8rem"  src="/fruitSale/about/images/about2.jpg" alt="展示"/>
            </section>
        </div>
        <div class="col-lg-6  col-md-6 col-sm-6 right">
            <div>
                <h4>人才与服务</h4>
                <p>公司既有勤恳耕作的果农也有现代科技人才</p>

                <p>胡翔：海外留学生，英国曼彻斯特大学硕士， 北京邮电大学学士。回国协助父亲创业。
                <br/>
				程思思：中南财经政法大学 学士  电子商务专业，一同加入团队协助创业。
				</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 mo_hied">
            <section class="img_box">
                <img  src="/fruitSale/about/images/about2.jpg" alt="展示"/>
            </section>
        </div>

    </div>
</div>
<div class="banner mo_hied">
    <img src="/fruitSale/about/images/about3.jpg" alt="展示"/>
</div>
<div class="banner mo_show">
    <img style="margin-top: 0.9333rem" src="/fruitSale/about/images/about3.jpg" alt="展示"/>
</div>
</body>
</html>
