<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<script type="text/javascript">
		jQuery(".carousel").carousel({
			interval : 3000
		});
	</script>
	<!--banner-->
	<div class="banner_box" style="margin-top: 70px;">
		<div id="carousel-example-generic" class="carousel slide"
			data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0"
					class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img class="center-block img-responsive"
						src="fruitSale/homepage/images/carousel1.jpg" alt="图片" />
					<div class="carousel-caption">好吃到爆的马家柚</div>
				</div>
				<div class="item">
					<img class="center-block img-responsive"
						src="fruitSale/homepage/images/carousel2.jpg" alt="图片" />
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img class="center-block img-responsive"
						src="fruitSale/homepage/images/carousel3.jpg" alt="图片" />
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img class="center-block img-responsive"
						src="fruitSale/homepage/images/carousel4.jpg" alt="图片" />
					<div class="carousel-caption"></div>
				</div>
			</div>


		</div>
	</div>
	<!--移动端banner-->
	<div class="mo_banner_box">
		<a href="#" class="Analysis"> <img
			class="center-block img-responsive"
			src="fruitSale/homepage/images/carousel1.jpg" alt="hah" />
		</a>
	</div>


	<div class="product_box container">
		<!-- 移动端显示-->
		<div class="title">
			<h2>我们的产品</h2>

			<div>
				<hr class="left" />
				<hr class="right" />
			</div>
			<p>Fruit Stores</p>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-3 col-xs-6 ">
				<section class="img_box">
					<img class="img-responsive" alt=""
						src="fruitSale/homepage/images/product1.jpg" />
				</section>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-3 col-xs-6 ">
				<section class="img_box">
					<img class="img-responsive" alt=""
						src="fruitSale/homepage/images/product2.jpg" />
				</section>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-3 col-xs-6 ">
				<section class="img_box">
					<img class="img-responsive" alt=""
						src="fruitSale/homepage/images/product3.jpg" />
				</section>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-3 col-xs-6 pro_query">
				<img class="img-responsive" alt=""
					src="fruitSale/homepage/images/product4.jpg" />
				<section>
					<!-- 移动端隐藏-->
					<div class="mo_hide">
						<h3>水果产品</h3>

					</div>
					<a href="#" onclick="toBuy()" class="btn Analysis"><span>购买查询 <em></em>
					</span></a>
				</section>
			</div>
		</div>
	</div>
	<div class="about_box container">
		<div class="row">
			<div class="col-lg-6  col-md-6 col-sm-6 left">
				<img class="mo_hide"
					src="fruitSale/homepage/images/bg1.jpg" alt="背景" />
				<img class="mo_show" style="margin-left: -12px"
					src="fruitSale/homepage/images/bg1.jpg" alt="背景" />

				<div>

					<!--<h2><em class="xiang">像</em><span class="text">瓜果蔬菜一样新鲜干净</span></h2>-->
					<img class="mo_hide pc_xiang" style="width: 300px;"
						src="fruitSale/homepage/images/bg2.png" /> <img
						class="mo_show mo_xiang"
						src="fruitSale/homepage/images/bg2.png" />
					<!--<hr class="mo_hide">-->
					<p>使用绿色有机肥，全天有人监管，无农药无虫害，责任到人，每片区域有人包干，产品流向市场进行登记</p>
					<a href="#" onclick="aboutUs()" class="btn Analysis" >了解我们<em></em></a>

				</div>

			</div>
			<div class="col-lg-6  col-md-6 col-sm-6 left">
				<img class="mo_hide"
					src="fruitSale/homepage/images/bg3.jpg" alt="背景" />
				<img class="mo_show"
					src="fruitSale/homepage/images/bg3.jpg" alt="背景" />

				<div>
					<!--<h2><em class="sanshier">32</em>个城市全程冷链配送</h2>-->
					<img class="mo_hide pc_xiang" style="width: 300px;"
						src="fruitSale/homepage/images/bg4.png" /> <img
						class="mo_show mo_saner"
						src="fruitSale/homepage/images/bg4.png" />
					<!--<hr class="mo_hide" style="width: 84px;">-->
					<p>本土马家柚营养价值极高，富含VC，却鲜为人知，让您尝到极美味的柚子</p>

					<a href="#"  onclick="aboutUs()" class="btn Analysis"
						>成长故事<em></em></a>
				</div>
			</div>
		</div>
	</div>
	<!--吃货-->
	<div class="contact_box container">
		<div class="row">
			<div class="col-lg-4  col-md-6 col-sm-6 fist">
				<img src="fruitSale/homepage/images/au1.jpg" alt="背景" />
				<section>
					<h3>
						我们的服务<br />基地
					</h3>
					<hr />
					<p>基地占地一共8万多亩，拥有半自动化树木监管设施，光照充足，树木茂盛</p>
				</section>
			</div>
			<div class="col-lg-4  col-md-6 col-sm-6 cent mo_hide">
				<img src="fruitSale/homepage/images/au2.jpg" alt="背景" />
				<section>
					
					<p>公司服务多家企业，我们有自己的淘宝店，有专门的的物流管理，有最好的服务团队，把美味快速准确地提供给您</p>
					<span>公司</span>
				</section>
			</div>
			<div class="col-lg-4  col-md-6 col-sm-6 last">
				<img src="fruitSale/homepage/images/au3.jpg" alt="背景" />
				<section>
					<p>公司位于江西上饶县应家乡石门村，特产马家柚，原产地发货，现摘现邮，保证新鲜</p>
					<span>地址</span>
				</section>
			</div>

		</div>
		<a href="#"  onclick="contactUs()" class="btn Analysis"
			>联系我们<em></em></a> 
	</div>
</body>
</html>
